/*
Stylesheet for "Index.html"
*/

h1{
	color: #ffffff;
	text-shadow: #000000;
	font-size: 42px;
	font-family: "Times new roman", serif;
}

h5{
	color: #BDBDBD;
	text-shadow: none;
	font-size: 18px;
}

p{
	color: #ffffff;
	text-shadow: none;
}

label{
	color: #ffffff;
	text-shadow: none;
}

input[type="text"], textarea {
	background-color: #ffffff;
}
/*
Modify swatch "b" for page format

5afa4e to #8A0808
a7fcaf to #FF0000
9efaa2 to #983636
5cf742 to #610B0B
b5fcb5 to #F6CECE
76fb6f to #DF0101
52e760 to #B40404

Original CSS taken from:
http://yuliana.lecturer.pens.ac.id/Android/Buku/jQuery-Mobile.pdf, page 75 - 76
*/


.ui-bar-b {
 border: 1px solid #610B0B;
 background: #8A0808;
 background-image: -moz-linear-gradient(top,
 #FF0000,
 #8A0808);
 background-image: -webkit-gradient(linear,left top,left bottom,
 color-stop(0, #FF0000),
 color-stop(1, #8A0808));
 -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FF0000',
 EndColorStr='#8A0808')";
}
.ui-body-b {
 border: 1px solid #610B0B;
 background: #983636;
 background-image: -moz-linear-gradient(top,
 #6C2525,
 #983636);
 background-image: -webkit-gradient(linear,left top,left bottom,
 color-stop(0, #6C2525),
 color-stop(1, #983636));
 -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#6C2525',
 EndColorStr='#983636')";
}
.ui-btn-up-b {
 border: 1px solid #610B0B;
 background: #8A0808;
 text-shadow: 0 1px 1px #ffffff;
 background-image: -moz-linear-gradient(top,
 #610B0B,
 #8A0808);
 background-image: -webkit-gradient(linear,left top,left bottom,
 color-stop(0, #610B0B),
 color-stop(1, #8A0808));
 -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#FF0000',
 EndColorStr='#8A0808')";
}
.ui-btn-hover-b {
 border: 1px solid #B40404;
 background: ##DF0101;
 background-image: -moz-linear-gradient(top,
 #F6CECE,
 #DF0101);
 background-image: -webkit-gradient(linear,left top,left bottom,
 color-stop(0, #F6CECE),
 color-stop(1, #DF0101));
 -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#F6CECE',
 EndColorStr='#DF0101')";
}
.ui-btn-down-e {
 border: 1px solid #B40404;
 background: #DF0101;
 background-image: -moz-linear-gradient(top,
 #F6CECE,
 #DF0101);
 background-image: -webkit-gradient(linear,left top,left bottom,
 color-stop(0, #F6CECE),
 color-stop(1, #DF0101));
 -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#F6CECE',
 EndColorStr='#DF0101')";
}

